In [3]:
print((500//7)%5)

1

In [6]:
S = 'I love Python'
print(S[-11:-7])

love

In [7]:
L = [1, 2, 3]
print(L*2)

[1, 2, 3, 1, 2, 3]

In [8]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
print(L[2:])

[[7, 8, 9, 10]]

In [9]:
T = (3, 5, 7, 11)
T.append(9)
print(T)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [14]:
import functools

def factorial(n):
    if n == 0:
        return 1
    else:
        return functools.reduce(lambda x,y: x*y, range(1,n+1))
    
test=factorial(3)
print(test)

6

In [20]:
import ast,sys
input_str = sys.stdin.read()
input_list = [[2, 5, 9, 12, 13, 15, 16, 17, 18, 19], [2, 4, 5, 6, 7, 9, 13, 16, 20], [1, 2, 5, 9, 10, 11, 12, 13, 15, 20]]
C = input_list[0]
F = input_list[1]
H = input_list[2]

# Write your code here
#COde to find people who play all sports
c_set = set(C)
f_set=set(F)
h_set=set(H)
all_set_temp=c_set.intersection(f_set)
all_set=all_set_temp.intersection(h_set)
new_all=list(all_set)
new_all.sort()

#COde to find Students who play both cricket and football but donâ€™t play hockey

print(new_all)

[2, 5, 9, 13]

In [5]:
import ast,sys
import pandas as pd
input_str = sys.stdin.read()
input_list = [[1,2,3,4,5,6,7],[1,3,7]]
series1=pd.Series(input_list[0])
series2=pd.Series(input_list[1])
out_list=[]
for i in series2:
    out_list.append(pd.Index(series1).get_loc(i))
print(out_list)

[0, 2, 6]

In [9]:
import pandas as pd 
url='https://media-doselect.s3.amazonaws.com/generic/o8oEby20V1LLAZzpABwWa7R1n/heart.csv'
n=4
df=pd.read_csv(url)
pd.set_option('display.max_columns', 500)
print(df.iloc[::-1].head(n))

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
302   57    0   1       130   236    0        0      174      0      0.0
301   57    1   0       130   131    0        1      115      1      1.2
300   68    1   0       144   193    1        1      141      0      3.4
299   45    1   3       110   264    0        1      132      0      1.2

     slope  ca  thal  target
302      1   1     2       0
301      1   1     3       0
300      1   2     3       0
299      1   0     3       0

In [131]:
import pandas as pd 

url='https://media-doselect.s3.amazonaws.com/generic/1YZQ77KLVyegqroyJgk5Z7d1/titaniMod2.csv' 
df=pd.read_csv(url)
pd.set_option('display.max_columns', 500)
print(df.shape)

(836, 13)

In [142]:

nan_percent=0.5
threshold = int(len(df.columns) * nan_percent)
df=df.dropna(thresh=threshold, axis=0)
df['Date'] = df['Date'].replace('-','',regex=True)
df_num = df.select_dtypes(include=[np.float]).columns.tolist()
print(df_num)
for i in df_num:
    df[i] = df[i].round(2)
print(df.shape[0])
print(df.shape[1])
print(df['Date'].head(10))
print(df[df_num].head(5))

['Age', 'Fare', 'Parch', 'PassengerId', 'Pclass', 'SibSp']
418
13
0    19791007
1    19791007
2    19791007
3    19791007
4    19791007
5    19791007
6    19791007
7    19791007
8    19791007
9    19791007
Name: Date, dtype: object
    Age   Fare  Parch  PassengerId  Pclass  SibSp
0  34.5   7.83    0.0        892.0     3.0    0.0
1  47.0   7.00    0.0        893.0     3.0    1.0
2  62.0   9.69    0.0        894.0     2.0    0.0
3  27.0   8.66    0.0        895.0     3.0    0.0
4  22.0  12.29    1.0        896.0     3.0    1.0

In [26]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4], 'col3': [5, 6]})
print(df)
int(df.shape[0]/2)

   col1  col2  col3
0     1     3     5
1     2     4     6

1

In [69]:
def binomialCoeff(n, k) : 
    res = 1
    if (k > n - k) : 
        k = n - k 
    for i in range(0 , k) : 
        res = res * (n - i) 
        res = res // (i + 1) 
    #print ("Res",res)
    return res 

def printPascal(n) : 
    a=[]
    # Iterate through every line  
    # and print entries in it 
    for line in range(0, n) : 
        a=[] 
        # Every line has number of  
        # integers equal to line 
        # number 
        for i in range(0, line + 1): 
            a.append(binomialCoeff(line, i))
            #print(binomialCoeff(line, i), 
                #" ", end = "")
        print(a)


printPascal(n)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [74]:
import pandas as pd 
pd.set_option('display.max_columns', 500)
import sys,ast
#input_str = sys.stdin.read()
colsToNormalize = ['Serial No.', 'GRE Score', 'TOEFL Score']
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/GVj4YrNpJwOvL7gBe2B53wJy/Admission_Predict.csv")
for i in colsToNormalize:
    print(i)
    df[i] = (df[i] - df[i].min())/(df[i].max() - df[i].min())
print(df.describe())

Serial No.
GRE Score
TOEFL Score
       Serial No.   GRE Score  TOEFL Score  University Rating         SOP  \
count   400.00000  400.000000   400.000000         400.000000  400.000000
mean      0.50000    0.536150     0.550357           3.087500    3.400000
std       0.28976    0.229473     0.216768           1.143728    1.006869
min       0.00000    0.000000     0.000000           1.000000    1.000000
25%       0.25000    0.360000     0.392857           2.000000    2.500000
50%       0.50000    0.540000     0.535714           3.000000    3.500000
75%       0.75000    0.700000     0.714286           4.000000    4.000000
max       1.00000    1.000000     1.000000           5.000000    5.000000

             LOR         CGPA    Research  Chance of Admit
count  400.000000  400.000000  400.000000        400.000000
mean     3.452500    8.598925    0.547500          0.724350
std      0.898478    0.596317    0.498362          0.142609
min      1.000000    6.800000    0.000000          0.340000
25%      3.000000    8.170000    0.000000          0.640000
50%      3.500000    8.610000    1.000000          0.730000
75%      4.000000    9.062500    1.000000          0.830000
max      5.000000    9.920000    1.000000          0.970000

In [109]:
import pandas as pd 
pd.set_option('display.max_columns', 500)
import numpy as np 
url='https://media-doselect.s3.amazonaws.com/generic/eJ5zayg0OnnX5PqMvAR8KQd9p/titanicmod.csv'
df=pd.read_csv(url)
#print(df.head())

#Remove rows with more than 2 missing values
df.dropna(thresh=2,axis=0)
#print(df.shape)
#Remove any column having the same value for all rows
nunique = df.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
df=df.drop(cols_to_drop, axis=1)

#Determine invalid values in the 'Year' column
df['INVYear'] = df['Year'].apply(lambda x: 'Invalid' if x<1900 or x>2018 else x)
Invaliddf=df[df['INVYear']=='Invalid']
invalidcnt=Invaliddf.shape[0]
del df['INVYear']

#Normalize all numerical columns(check for integer and float columns) 
colnames_numerics_only = df.select_dtypes(include=[np.number]).columns.tolist()
for i in colnames_numerics_only:
    df[i] = (df[i] - df[i].min())/(df[i].max() - df[i].min())
df=df.drop_duplicates()
print(invalidcnt)
print(df.shape[0])
print(df.shape[1])
print(df.head(3))

91
418
12
   PassengerId  Pclass                              Name     Sex       Age  \
0     0.000000     1.0                  Kelly, Mr. James    male  0.452723
1     0.002398     1.0  Wilkes, Mrs. James (Ellen Needs)  female  0.617566
2     0.004796     0.5         Myles, Mr. Thomas Francis    male  0.815377

   SibSp  Parch  Ticket      Fare Cabin Embarked      Year
0  0.000    0.0  330911  0.015282   NaN        Q  0.326389
1  0.125    0.0  363272  0.013663   NaN        S  0.972222
2  0.000    0.0  240276  0.018909   NaN        Q  0.763889

In [62]:
import pandas as pd 
pd.set_option('display.max_columns', 500)
import sys,ast
df=pd.read_csv('test.csv')

input_list = [['Pclass','Age'],[3,13]]
cols=input_list[0]#the columns to group the dataframe by
values=input_list[1]# The group to print
#Write your code here
print(df.head(3))

   PassengerId  Pclass                              Name     Sex   Age  SibSp  \
0          892       3                  Kelly, Mr. James    male  34.5      0
1          893       3  Wilkes, Mrs. James (Ellen Needs)  female  47.0      1
2          894       2         Myles, Mr. Thomas Francis    male  62.0      0

   Parch  Ticket    Fare Cabin Embarked
0      0  330911  7.8292   NaN        Q
1      0  363272  7.0000   NaN        S
2      0  240276  9.6875   NaN        Q

In [85]:
#first_group=df.groupby(cols)
#print(first_group.head())
#df.query('cols[0] == values[0] and cols[1] == values[1]', inplace = True) 
#Works


#df=df.loc[(df[cols[0]] == values[0])]
#df=df.loc[(df[cols[1]] == values[1])]
#print(df.head(3))

#df1=df[(df[cols[0]] == values[0]) & (df[cols[1]] == values[1]) ].groupby(cols)
#print(df1.head())

filter1 = df[cols[0]] == values[0]
filter2 = df[cols[1]] == values[1]
firstgrp=df.groupby(cols)

gb = firstgrp.groups
gb.keys
for key, values in gb.iteritems():
    print(df.ix[values], "\n\n")

<built-in method keys of dict object at 0x0DEFB390>

AttributeError: 'dict' object has no attribute 'iteritems'

In [58]:
import pandas as pd 
pd.set_option('display.max_columns', 500)
url='googleplaystore_user_reviews.csv'
df=pd.read_csv(url)
charcollist=[]
for col in df:
    if(pd.api.types.is_numeric_dtype(df[col])==False):
        charcollist.append(col)
firstgrp=df.groupby(charcollist).mean()
print(firstgrp.head(5))

                                                                        Sentiment_Polarity  \
App                   Translated_Review                      Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods Positive                 1.00
                      A big thanks ds I got bst gd health    Positive                 0.10
                      Absolutely Fabulous Phenomenal         Positive                 0.45
                      Amazing                                Positive                 0.60
                      An excellent A useful                  Positive                 0.65

                                                                        Sentiment_Subjectivity
App                   Translated_Review                      Sentiment
10 Best Foods for You 10 best foods 4u Excellent chose foods Positive                     0.65
                      A big thanks ds I got bst gd health    Positive                     0.15
                      Absolutely Fabulous Phenomenal         Positive                     0.75
                      Amazing                                Positive                     0.90
                      An excellent A useful                  Positive                     0.50

In [61]:

print(charcollist)

['App', 'Translated_Review', 'Sentiment']

In [ ]:
import pandas as pd 
pd.set_option('display.max_columns', 500)
url=input()
df=pd.read_csv(url)
datatypes = [word for word in df.dtypes]
strindexes = [i for i in range(len(datatypes)) if ('int' not in str(datatypes[i])) & ('float' not in str(datatypes[i]))]
intindexes = [i for i in range(len(datatypes)) if ('int' in str(datatypes[i])) | ('float' in str(datatypes[i]))]
strcols = df.columns[strindexes]
intcols = df.columns[intindexes]
df2 = df.pivot_table(index = list(strcols), values = list(intcols), aggfunc = 'mean')
print(df2.head(5))

In [ ]:
import pandas as pd 
pd.set_option('display.max_columns', 500)
import sys,ast
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
cols=input_list[0]
values=input_list[1]
df=pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/wkyk2AWYdJbqgXoRo3Y8w42nX/test.csv')
print(df.groupby(cols).get_group(tuple(values)).head())