In [41]:
import numpy as np
import pandas as pd
A = np.array([[2,7,1],[-2,1,8],[3,4,-2]])
B = np.array([[8,1,3],[3,5,8],[7,-2,-4]])
A

c:\users\ratish\appdata\local\programs\python\python37-32\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 112 from C header, got 124 from PyObject
  return f(*args, **kwds)
c:\users\ratish\appdata\local\programs\python\python37-32\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 112 from C header, got 124 from PyObject
  return f(*args, **kwds)

array([[ 2,  7,  1],
       [-2,  1,  8],
       [ 3,  4, -2]])

In [8]:
B

array([[ 8,  1,  3],
       [ 3,  5,  8],
       [ 7, -2, -4]])

In [10]:
C = A@B
C

array([[ 44,  35,  58],
       [ 43, -13, -30],
       [ 22,  27,  49]])

## Matrix Inverse

In [11]:
At=np.linalg.inv(A)
At

array([[-0.55737705,  0.29508197,  0.90163934],
       [ 0.32786885, -0.1147541 , -0.29508197],
       [-0.18032787,  0.21311475,  0.26229508]])

In [12]:
at1=np.linalg.inv(At)
at1

array([[ 2.,  7.,  1.],
       [-2.,  1.,  8.],
       [ 3.,  4., -2.]])

In [13]:
C=np.array([[2,1,1],[3,2,1],[2,1,2]])
print(np.linalg.inv(C))

[[ 3. -1. -1.]
 [-4.  2.  1.]
 [-1.  0.  1.]]

In [17]:
B1=np.array([[2,-2],[1,1]])
M=np.array([[0.667,0],[0,0.5]])
print(B1@M)

[[ 1.334 -1.   ]
 [ 0.667  0.5  ]]

In [23]:
B1=np.array([[3,1],[8,-16]])
B3=np.array([[3],[2]])

In [36]:
#invB1=np.linalg.inv(B3)
#B2=B1@invB1
#invB1
mat_V=np.array([2,3,1,-2]).reshape(2,2).T
B_V1=np.array([2,-1])
B_V2=np.array([-2,5])
M1=mat_V@B_V1
M2=mat_V@B_V2
M=np.array([M1,M2])
M=np.linalg.inv(M)
print (M)

[[ 0.28571429  0.14285714]
 [ 0.01785714 -0.05357143]]

In [39]:
print(np.linalg.inv(M)@B3)

[[ 25.]
 [-29.]]

In [42]:
a=[[2,1],[3,2],[2,1],[5,1]]
b = ['X','Y']
df=pd.DataFrame(a,columns=b)
df

   X  Y
0  2  1
1  3  2
2  2  1
3  5  1

In [43]:
df_cov=np.cov(df.T)
df_cov

array([[2.  , 0.  ],
       [0.  , 0.25]])

In [62]:
n=3
sumsqr=0
abssqr=0
for i in range(1,n+1):
    sumsqr+=i**2
    #i+=1
for i in range(1,n+1):
    abssqr+=i

abssqr=abssqr**2
abs_difference = abs(sumsqr - abssqr)
print ("TEst %i" % abs_difference)

TEst 22

In [66]:
import math
input_list=[2, 14, 15, 16]

def round( n ):
    a = (n // 10) * 10
    b = a + 10
    return (b if n - a >= b - n else a) 

sum=0
for i in input_list:
    print(round(i))
    sum+=round(i)
print(sum)

0
10
20
20
50

In [68]:
input_list=[3,True]
day_of_the_week = input_list[0]
is_on_vacation = input_list[1]
# write your code here
def alarm_clock(day, vacation):
    time=''
    if(vacation):
        if(day<=5):
            time='10:00'
        else:
            time='off'
    else:
        if(day<=5):
            time='7:00'
        else:
            time='10:00'
    return time
time = alarm_clock(day_of_the_week, is_on_vacation)
print(time.lower())

10:00